MTprepare/wcfNEIT/ConsoleApp1/Connected Services/NEITServiceReference/NEITStoreOrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfNEIT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfNEIT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shopperAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shopperName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Options" nillable="true" type="tns:CustomerOptions" />
      <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="CustomerOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerOptions" nillable="true" type="tns:CustomerOptions" />
</xs:schema>